# ~/.gitconfig

[user]
  name = Sascha Wander
  email = sascha.wander@gmail.com
	signingkey = 0xF6BC73162CFD2DBD

[core]
  editor = $EDITOR
  whitespace=fix,space-before-tab,tab-in-indent,trailing-space,cr-at-eol
  #pager = less -FRSX
  pager = diff-so-fancy | less --tabs=4 -RFX
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
  untrackedCache = true
  hooksPath = ~/.git_template/hooks

[init]
  templatedir = ~/.git_template

[apply]
  whitespace = nowarn

[tag]
  forceSignAnnotated = true

[help]
  autocorrect = 1

[ghq]
  root = ~/repos

[gpg]
  program = /usr/bin/gpg

[commit]
  gpgsign = false

[push]
  default = matching
  followTags = true

[diff]
  renames = copies
  algorithm = histogram
  tool = vimdiff
  compactionHeuristic = true
  colorMoved = zebra
  mnemonicprefix = true

[difftool]
  prompt = false

[diff "exif"]
  textconv = exiftool

[difftool "vimdiff"]
  cmd = $EDITOR -d $LOCAL $REMOTE

[merge]
  # https://git-scm.com/docs/git-config#git-config-mergeff
  # ff = only
  # Include summaries of merged commits in newly created merge commit messages
  log = 1000
  tool = vimdiff
  # https://git-scm.com/docs/git-config#git-config-mergeconflictStyle
  conflictstyle = diff3
  stat = true

[mergetool]
  keepBackup = false
  prompt = false

[mergetool "vimdiff"]
  cmd = $EDITOR -d $LOCAL $REMOTE

[rebase]
  autosquash = true
  instructionFormat = [%cn <%ce> %G?] %s

[format]
  numbered = auto

[status]
  submodulesummary = true

[log]
  decorate = short

[pager]
  show = diff-so-fancy | less --tabs=4 -RFX --pattern '^(Date|added|deleted|modified): '
  diff = diff-so-fancy | less --tabs=4 -RFX --pattern '^(Date|added|deleted|modified): '

[gui]
  fontui   = -family terminus -size 9 -weight normal -slant roman -underline 0 -overstrike 0
  fontdiff = -family terminus -size 9 -weight normal -slant roman -underline 0 -overstrike 0
  editor = nvim-gtk

[interactive]
  diffFilter = diff-so-fancy --patch-mode | less --tabs=4 -RFX

[color]
  branch = yes
  pager  = yes
  diff   = auto
  status = auto
  interactive = always
  showbranch = auto
  ui = auto

[color "branch"]
  current = green
  local   = yellow
  remote  = cyan

[color "diff"]
  meta = yellow
  frag = magenta
  old  = red
  new  = green

[color "status"]
  header    = magenta
  added     = yellow
  changed   = green
  untracked = cyan

[color "interactive"]
    error = red bold

[color "diff-highlight"]
  oldNormal = red strike
  oldHighlight = red 52 strike
  newNormal = green italic
  newHighlight = green 22 italic

[sendemail]
  aliasesfile   = $HOME/.neomutt/aliases
  aliasfiletype = mutt
  chainreplyto  = false
  smtpserver = /usr/bin/msmtp

# git -> https
#[url "https://github.com"]
#  insteadOf = git://github.com

# https -> ssh
#[url "ssh://git@github.com/"]
#	insteadOf = https://github.com/

[alias]
  # add
     a = add
    aa = add --all
  # commit
     c = commit --all
    cm = commit --all --message
  # log
    l = log --abbrev-commit --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
    ll = log --date=relative --decorate --graph --stat
  # pull
    pl = pull
  plom = pull origin master
  plum = pull upstream master
  plgm = pull github master
  plrm = pull rpi master
  # push
     p = push
    pa = push --all
   pom = push origin master
   pum = push upstream master
   pgm = push github master
   prm = push rpi master
   pam = push all master
  # remote
     r = remote -v
  # reset
  rehh = reset HEAD --hard
  # status
    st = status
  # update
update = pull
    up = pull
    cd = cd `git rev-parse --show-toplevel`
   cdr = cd `ghq list -p | peco`

# vim:fenc=utf-8:ft=gitconfig:ts=2:sts=0:sw=2:et:
