*.swo
*.swp
*~
\#*#
*.o

archives
.vim/plugins
.vim/autoload/plug.vim
.config/Chromium
.config/Mousepad
.config/Thunar
.config/autostart
.config/gcloud
.config/gcolor3
.config/gimp
.config/dconf
.config/htop
.config/keybase
.config/libvirt
.config/lxc
.config/mr
.config/spicy
.config/user-dirs.conf
.config/user-dirs.dirs
.config/xfce4
