[user]
  name = Sascha Wander
  email = sascha.wander@gmail.com
[init]
  defaultBranch = master
  templateDir = /var/empty
[core]
  compression = 9
[push]
  default = simple
[pull]
	ff = only
[alias]
  l = log --pretty='format:%h %s%d' -n 20 --graph
  tags = tag -l
  branches = branch -a
  remotes = remote -v
  s = status -sb
  ss = s -uno
[color]
  branch = yes
  pager = yes
  diff = auto
  status = auto
  interactive = always
[color "branch"]
  current = green
  local = yellow
  remote  = cyan
[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green
[color "interactive"]
  error = red bold
[color "status"]
  header = magenta
  added = yellow
  changed = green
  untracked = cyan
# vim:fenc=utf-8:ft=git:ts=2:sts=2:sw=2:et:
