! ----------------------------------------------------------------------------
! rxvt-unicode-256color
! ----------------------------------------------------------------------------
URxvt*termName:       rxvt-unicode-256color
URxvt*font:           -*-terminus-*-*-*-*-18-*-*-*-*-*-iso8859-*
! Perl extensions
URxvt.perl-ext-common:default,clipboard,matcher,keyboard-select
URxvt.keysym.M-u:     perl:url-select:select_next
URxvt.url-launcher:    /bin/chromium
URxvt.underlineURLs:  True
URxvt.matcher.button: 1 
URxvt.keysym.M-Escape:perl:keyboard-select:activate
URxvt.keysym.M-c:     perl:clipboard:copy
URxvt.keysym.M-v:     perl:clipboard:paste
URxvt.keysym.M-C-v:   perl:clipboard:paste_escaped
!URxvt.copyCommand:   xsel -ib
!URxvt.pasteCommand:  xsel -ob
URxvt.copyCommand:   xclip-copyfile
URxvt.pasteCommand:  xclip-pastefile
! Scrollbar style - rxvt::plain:next:xterm
URxvt*scrollstyle:    urxvt
URxvt*scrollBar:      False
URxvt*matcher.button: 1
URxvt*geometry:       128x36
URxvt.saveLines:      1000
! Fading
URxvt*fading:         5
URxvt*fadeColor:      #202020
URxvt*tintColor:      #404040
URxvt*inheritPixmap:  False
! Fake Transparency
!URxvt*transparent:    True
!URxvt*shading:        30
! Composite Transparency
URxvt*depth:          32
URxvt*background:     rgba:0000/0000/0200/c800
! Fore/background
!URxvt*background:     #151515
URxvt*foreground:     #999
! Manpages
URxvt.colorIT:        magenta
URxvt.colorBD:        yellow
URxvt.colorUL:        cyan
*VT100.colorBDMode:   true
*VT100.colorBD:       yellow
*VT100.colorULMode:   true
*VT100.colorUL:       cyan


! ----------------------------------------------------------------------------
! XTerm/UXTerm
! ----------------------------------------------------------------------------
XTerm*faceName:   Terminus
XTerm*faceSize:   13
XTerm*utf8:       0
XTerm*font2:      -misc-fixed-medium-r-normal-*-*-70-*-*-c-*-iso8859-15
XTerm*font3:     	-misc-fixed-medium-r-normal-*-*-100-*-*-c-*-iso8859-15
XTerm*font4:     	-misc-fixed-medium-r-normal-*-*-120-*-*-c-*-iso8859-15
XTerm*font5:     	-misc-fixed-medium-r-normal-*-*-140-*-*-c-*-iso8859-15

UXTerm*faceName:  Terminus
UXTerm*faceSize:  13
UXTerm*utf8:      1
UXTerm*font1:     -misc-fixed-*-*-*-*-6-*-*-*-*-*-iso10646-*
UXTerm*font2:     -misc-fixed-medium-r-normal--8-80-75-75-c-50-iso10646-1
UXTerm*font3:     -misc-fixed-medium-r-normal--14-130-75-75-c-70-iso10646-1
UXTerm*font4:     -misc-fixed-medium-r-normal--13-120-75-75-c-80-iso10646-1
UXTerm*font5:     -misc-fixed-medium-r-normal--18-120-100-100-c-90-iso10646-1
UXTerm*font6:     -misc-fixed-medium-r-normal--20-200-75-75-c-100-iso10646-1
UXTerm*utf8Fonts.font:  -misc-fixed-medium-r-normal--18-120-100-100-c-90-iso10646-1
UXTerm*utf8Fonts.wideFont:  -misc-fixed-medium-r-normal-ko-18-120-100-100-c-180-iso10646-1

UXTerm*allowFontOps: true
! start via xterm -class UXTerm or 'uxterm'
UXTerm*eightBitInput: false
UXTerm*metaSendsEscape: true


! ----------------------------------------------------------------------------
! Tomorrow Theme
! ----------------------------------------------------------------------------
*.foreground:   #c5c8c6
*.background:   #1d1f21
*.cursorColor:  orange
*.color0:       #000000
*.color1:       #912226
*.color2:       #778900
*.color3:       #ae7b00
*.color4:       #1d2594
*.color5:       #682a9b
*.color6:       #2b6651
*.color7:       #929593
*.color8:       #666666
*.color9:       #cc6666
*.color10:      #b5bd68
*.color11:      #f0c674
*.color12:      #81a2be
*.color13:      #b294bb
*.color14:      #8abeb7
*.color15:      #ecebec


! ----------------------------------------------------------------------------
! Xcursor
! ----------------------------------------------------------------------------
!Xcursor.theme:        Vanilla-DMZ-AA
Xcursor.theme:        plan9
!Xcursor.size:         22


! ----------------------------------------------------------------------------
! Xft settings
! ----------------------------------------------------------------------------
Xft*dpi:              96
Xft.antialias:        1
Xft.autohint:         0
Xft.hinting:          1
Xft.hintstyle:        hintfull
Xft.lcdfilter:        lcddefault
Xft.rgba:             rgb


! ----------------------------------------------------------------------------
! Xpdf
! ----------------------------------------------------------------------------
Xpdf.toolTipEnable:   False
Xpdf*foreground:      grey
Xpdf*background:      black
Xpdf*urlCommand:      /usr/local/bin/firefox %s
Xpdf*antialias:       yes
Xpdf*enableFreetype:  yes
!Xpdf.geometry:       128x36
!Xpdf.reverseVideo:   yes
!Xpdf.paperColor:     #505050
!Xpdf.matteColor:     #202020
!Xpdf.initialZoom:    100
Xpdf*fontList:        Terminus


! ----------------------------------------------------------------------------
! Xclock
! ----------------------------------------------------------------------------
Xclock*faceName:          Terminus:pixelsize=8
Xclock*update:            1
Xclock*analog:            false
Xclock*Foreground:        #245f99
Xclock*background:        #101010


! ----------------------------------------------------------------------------
! Xcalc
! ----------------------------------------------------------------------------
xcalc*faceName:                        Terminus:pixelsize=8
xcalc*geometry:                        200x275
xcalc.ti.bevel.background:             #151515
xcalc.ti.bevel.screen.background:      #101010
xcalc.ti.bevel.screen.DEG.background:  #000000
xcalc.ti.bevel.screen.DEG.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.GRAD.background: #000000
xcalc.ti.bevel.screen.GRAD.foreground: LightSeaGreen
xcalc.ti.bevel.screen.RAD.background:  #000000
xcalc.ti.bevel.screen.RAD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.INV.background:  #000000
xcalc.ti.bevel.screen.INV.foreground:  Red
xcalc.ti.bevel.screen.LCD.background:  #000000
xcalc.ti.bevel.screen.LCD.foreground:  LightSeaGreen
xcalc.ti.bevel.screen.LCD.shadowWidth: 0
xcalc.ti.bevel.screen.M.background:    #000000
xcalc.ti.bevel.screen.M.foreground:    LightSeaGreen
xcalc.ti.bevel.screen.P.background:    #000000
xcalc.ti.bevel.screen.P.foreground:    Yellow
xcalc.ti.Command.foreground:  #e0e0e0
xcalc.ti.Command.background:  #746d76
xcalc.ti.button5.background:  #3ca034
xcalc.ti.button19.background: #b287ba
xcalc.ti.button18.background: #b287ba
xcalc.ti.button20.background: #b287ba
!uncomment to change label on division button
!xcalc.ti.button20.label:      /
xcalc.ti.button25.background: #b287ba
xcalc.ti.button30.background: #b287ba
xcalc.ti.button35.background: #b287ba
xcalc.ti.button40.background: #b287ba
xcalc.ti.button22.background: #286f8a
xcalc.ti.button23.background: #286f8a
xcalc.ti.button24.background: #286f8a
xcalc.ti.button27.background: #286f8a
xcalc.ti.button28.background: #286f8a
xcalc.ti.button29.background: #286f8a
xcalc.ti.button32.background: #286f8a
xcalc.ti.button33.background: #286f8a
xcalc.ti.button34.background: #286f8a
xcalc.ti.button37.background: #286f8a
xcalc.ti.button38.background: #286f8a
xcalc.ti.button39.background: #286f8a
xcalc*Cursor:                 hand2
xcalc*ShapeStyle:             rectangle

! vim:fenc=utf-8:ts=2:sts=2:sw=2:et:
