snippet fold "Vim folding by marker"
vim:foldmethod=marker:foldlevel=0
endsnippet

snippet template "Config file template"
# FreeBSD 11.1 -- /etc/rc.conf
# Description
#

$1

#
##
### EOF ###
endsnippet
