snippet abuse "Abuse template"
Hello,

in our logs we noticed a brute force password attack on one of our websites
originating from your net range. As a professional and responsible company, you
probably want to know about this and take appropriate actions to prevent future
incidences.

Please see a relevant log excerpt below. Thank you for your time and
consideration. All times are CET.

Best regard,
Marcel Bischoff
Webmaster

=== Log Excerpt Start ===
$1
=== Log Excerpt End ===
endsnippet
