snippet cmt "" b
" ----------------------------------------------------------------------------
" ${1:comment}
" ----------------------------------------------------------------------------
${0}
endsnippet

snippet hi "Color Scheme Highlighting"
hi ${1} guifg=NONE guibg=NONE gui=NONE${0}
endsnippet
